
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
### IntelliJ IDEA ###
### NetBeans ###
### STS ###
### VS Code ###
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/auth-service/.nb-gradle/
/auth-service/data/
/auth-service/dist/
/auth-service/nbbuild/
/auth-service/nbdist/
/auth-service/nbproject/private/
/data-service/.nb-gradle/
/data-service/data/
/data-service/dist/
/data-service/nbbuild/
/data-service/nbdist/
/data-service/nbproject/private/
bin/
build/
HELP.md
out/
src/main/resources/application.properties
